html {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    font-family: sans-serif;
    font-size: 12pt;

    display: flex;
    justify-content: center;
    min-height: 100%;
}

body {
}

h1 {
    color: blue;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}