a {
    text-decoration: none;
    cursor: pointer;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

menu {
    background-color: grey;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav {
    box-shadow: 0 5px 5px -5px #333;
}

header {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}

footer {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    box-shadow: 0 -5px 5px -5px #333;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 5%;
    margin-top: 5%;
}

.errors {
    color: red;
}

.categoryContainer{
    width: 90%;
}

/* Chat */
.chat-container {
    margin-top: 50px;
}

.time {
    font-size: 0.7rem;
    color: #868e96;
    margin-top: 3px;
    float: right;
    cursor: default;
}

.user {
    font-size: 0.7rem;
    color: #868e96;
    margin-top: 3px;
    float: right;
    cursor: default;
}

.chat {
    width: 70%;
    margin: 30px auto;
    border-radius: 15px;
    background: #f8f9fa;
    color: black;
    padding: 20px;
    position: relative;
}

.chat > p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.me:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #f8f9fa;
    border-right: 15px solid transparent;
    border-top: 15px solid #f8f9fa;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
}

.you:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #f8f9fa;
    border-top: 15px solid #f8f9fa;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}

.comment-textarea {
    width: 70%;
}