a {
    text-decoration: none;
    cursor: pointer;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

menu {
    background-color: grey;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

header {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}

footer {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
}

main {
    background-color: darkgrey;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.errors {
    color: red;
}

/* Chat */
.chat-container {
    padding-left: 30px;
    padding-right: 30px;
}
.chat {
    border: 2px solid #dedede;
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.mine {
    border-color: pink;
    background-color: #ddd;
}

/* Clear floats */
.chat::after {
    content: "";
    clear: both;
    display: table;
}

.time {
    font-size: 0.7rem;
    color: green;
    margin-top: 3px;
    float: right;
    cursor: default;
}
