.URGENT {
    height: 1em;
    width: 1em;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    color: red;
}

.IMPORTANT {
    height: 1em;
    width: 1em;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.UNIMPORTANT {
    height: 1em;
    width: 1em;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
