/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 01.03.2019, 09:16:34
    Author     : Licht
*/

href {
    color: black;
}

urgent {
    height: 1em;
    width: 1em;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

important {
    height: 1em;
    width: 1em;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

unimportant {
    height: 1em;
    width: 1em;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}